.card{
  background-color: #0070f3 ;
  height: 25vh;
}

.topBar{
  background-color: rebeccapurple;
}

.itemBar{
  background-color: aquamarine;
}

.outputBody{
  background-color: #3a3a3a;
  height: 21vh;
  overflow: scroll;
  overflow-x: hidden;
  white-space: pre-line;
}